server {
    listen 80;
    listen 443 ssl http2;
    server_name .dev.gzhoss.oa.com;
    root "/home/vagrant/gzhapps";

    index index.html index.htm index.php;

    charset utf-8;

    location / {
        try_files $uri $uri/ /index.php?$query_string;
    }

    location = /favicon.ico { access_log off; log_not_found off; }
    location = /robots.txt  { access_log off; log_not_found off; }

    access_log off;
    error_log  /var/log/nginx/dev.gzhoss.oa.com-error.log error;

    sendfile off;

    client_max_body_size 100m;

    location ~ \.php$ {
        fastcgi_split_path_info ^(.+\.php)(/.+)$;
        fastcgi_pass unix:/var/run/php/php7.1-fpm.sock;
        fastcgi_index index.php;
        include fastcgi_params;

        fastcgi_param REQUEST_URI $request_url;
        fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;

        fastcgi_intercept_errors off;
        fastcgi_buffer_size 16k;
        fastcgi_buffers 4 16k;
        fastcgi_connect_timeout 300;
        fastcgi_send_timeout 300;
        fastcgi_read_timeout 300;
    }

    location /li3/ {
        if (!-e $request_filename) {
            rewrite ^/li3/([0-9a-z\-_]+)/(.*)$ /li3/$1/app/webroot/index.php?$2 last;
        }
    }

    set $request_url $uri;
    if ($uri ~ ^/mossv2/([^/]*)/(.*)$) {
        set $request_url $2;
    }
    location /mossv2/ {
        rewrite ^/mossv2/([^/]*)/(.*)$ /mossv2/$1/public/index.php last; # THIS IS THE IMPORTANT LINE
    }
    if ($uri ~ ^/lumen/([^/]*)/(.*)$) {
        set $request_url $2;
    }
    location /lumen/ {
        rewrite ^/lumen/([^/]*)/(.*)$ /lumen/$1/public/index.php last; # THIS IS THE IMPORTANT LINE
    }

    location ~ /\.ht {
        deny all;
    }

    ssl_certificate     /etc/nginx/ssl/dev.gzhoss.oa.com.crt;
    ssl_certificate_key /etc/nginx/ssl/dev.gzhoss.oa.com.key;
}

